* {
    margin: 0;
    padding: 0;
}

.main-img {
    position: absolute;
    left: 34%;
    top: 10%;
}

.title {
    text-align: center;
    font-family: monospace;
    margin-top: 7%;
    font-size: 40px;
}