* {
    text-decoration: none;
    padding: 0;
    margin: 0;
}

body {
    background: rgb(46, 46, 46);
}

.main-heading {
    color: white;
    font-family: 'Noto Sans Mono', monospace;
    text-align: center;
    font-size: 130px;
    margin-top: 4%;
    animation-name: slideintop;
    animation-delay: 200ms;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.about-button {
    border-color: black;
    background-color: rgb(219, 212, 212);
    border-radius: 85px;
    font-size: 25px;
    padding: 10px 50px 10px 50px;
    margin: auto;
    animation-name: slideinleft;
    animation-delay: 1200ms;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    opacity: 0;
}

.about-button a {
    color: black;
}

.paragraph-heading {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    margin-left: 44%;
    margin-top: -10px;
    margin-bottom: 20px;
    animation-name: fadein;
    animation-delay: 2200ms;
    animation-duration: 850ms;
    animation-fill-mode: forwards;
    opacity: 0;
}

@keyframes slideintop {
    0% {transform: translateY(-500px); opacity: 0;}
    100% {transform: translateY(-20px); opacity: 100;}
}

@keyframes slideinleft {
    0% {transform: translateX(-500px);}
    100% {transform: translateX(800px); opacity: 100;}
}

@keyframes fadein {
    0% {opacity: 0;}
    100% {opacity: 100;}
}

.about-cont {
    width: 900px;
    height: 500px;
    background-color: rgb(32, 32, 32);
    margin-top: 750px;
    margin-left: 27%;
    margin-bottom: 275px;
    display: flex;
}

.about-cont h1 {
    color: white;
    flex: 3;
    font-family: 'Manrope', sans-serif;
    font-size: 50px;
    margin-left: 25px;
    margin-top: 15px;
}

.about-cont p {
    color: white;
    flex: 1;
}